@import "./font/iconfont.css";
* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
.z-flex {
  display: flex;
}
.z-flex-column {
  flex-direction: column;
}
.z-flex-wrap {
  flex-wrap: wrap;
}
.z-justify-between {
  justify-content: space-between;
}
.z-justify-around {
  justify-content: space-around;
}
.z-justify-center {
  justify-content: center;
}
.z-justify-start {
  justify-content: flex-start;
}
.z-justify-end {
  justify-content: flex-end;
}
.z-align-start {
  align-items: flex-start;
}
.z-align-center {
  align-items: center;
}
.z-align-end {
  align-items: flex-end;
}
.z-clearfix:after {
  clear: both;
  content: " ";
  display: block;
}
.base-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.light-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.z-button {
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #303133;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  text-align: center;
  transition: 0.1s;
  white-space: nowrap;
}
.z-button:hover {
  background-color: #ecf5ff;
  border-color: #c6e2ff;
  color: #409eff;
}
.z-button .z-icon-loading {
  -webkit-animation: loading 2s linear infinite;
  animation: loading 2s linear infinite;
}
.z-medium-button {
  padding: 10px 20px;
}
.z-small-button {
  font-size: 12px;
  padding: 9px 15px;
}
.z-mini-button {
  font-size: 12px;
  padding: 7px 15px;
}
.z-type-primary {
  background-color: #409eff;
  border: 1px solid #409eff;
  color: #fff;
}
.z-type-primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.z-type-success {
  background-color: #67c23a;
  border: 1px solid #67c23a;
  color: #fff;
}
.z-type-success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.z-type-warning {
  background-color: #e6a23c;
  border: 1px solid #e6a23c;
  color: #fff;
}
.z-type-warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.z-type-danger {
  background-color: #f56c6c;
  border: 1px solid #f56c6c;
  color: #fff;
}
.z-type-danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}
.z-type-info {
  background-color: #909399;
  border: 1px solid #909399;
  color: #fff;
}
.z-type-info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.z-round {
  border-radius: 22px;
}
.z-circle {
  border-radius: 50%;
}
.z-disable {
  cursor: not-allowed;
  opacity: 0.4;
}
.z-icon-right {
  margin-right: 5px;
}
.z-button-group-item-default {
  border-radius: 0;
  margin-left: -1px;
}
.z-button-group-item-default:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.z-button-group-item-default:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.z-button-group-item-type {
  border-radius: 0;
  margin-left: -1px;
}
.z-button-group-item-type:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.z-button-group-item-type:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.z-button-group-item-type:nth-child(n + 2) {
  border-left-color: hsla(0, 0%, 100%, 0.5);
}
.z-checkbox {
  color: #606266;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  position: relative;
}
.z-checkbox .z-checkbox-input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.z-checkbox .z-checkbox-input-wrapper {
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  height: 14px;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  width: 14px;
}
.z-checkbox .z-checkbox-input-wrapper:after {
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  box-sizing: content-box;
  content: "";
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 3px;
}
.z-checkbox .z-checkbox-indeterminate,
.z-checkbox .z-checked {
  background-color: #409eff;
}
.z-checkbox .z-checkbox-indeterminate:after {
  background-color: #fff;
  border: none;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}
.z-checkbox .z-label-checked {
  color: #409eff;
}
.z-checkbox-disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.z-checkbox-disabled .z-checkbox-input {
  cursor: not-allowed;
}
.z-col {
  box-sizing: border-box;
  float: left;
}
.z-container {
  flex: 1;
}
.z-icon {
  display: inline-block;
  font-size: inherit;
}
.z-main {
  flex: 1;
}
.z-table-wrapper {
  overflow: auto;
  position: relative;
}
.z-table {
  border-collapse: collapse;
  color: #303133;
  font-size: 14px;
  width: 100%;
}
.z-table thead {
  color: #909399;
  font-weight: 500;
}
.z-table .z-header-sticky {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 20;
}
.z-table tr {
  transition: background-color 0.25s ease;
}
.z-table tr:hover,
.z-table tr:hover .z-th-sticky-left,
.z-table tr:hover .z-th-sticky-right {
  background-color: #f5f7fa;
}
.z-table td,
.z-table th {
  border-bottom: 1px solid #ebeef5;
  box-sizing: border-box;
  padding: 12px 0;
  text-align: left;
  transition: background-color 0.25s ease;
}
.z-table .z-th-sticky-left {
  background-color: #fff;
  left: 0;
  position: sticky;
  z-index: 10;
}
.z-table .z-th-sticky-left:after {
  bottom: -1px;
  box-shadow: inset 10px 0 8px -8px #00000026;
  content: "";
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(100%);
  transition: box-shadow 0.3s;
  width: 30px;
}
.z-table .z-th-sticky-right {
  background-color: #fff;
  position: sticky;
  right: 0;
  z-index: 10;
}
.z-table .cell {
  padding: 10px;
}
.z-table .caret-wrapper {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: 34px;
  overflow: initial;
  position: relative;
  vertical-align: middle;
  width: 24px;
}
.z-table .caret-wrapper .sort-caret {
  border: 5px solid transparent;
  height: 0;
  left: 7px;
  position: absolute;
  width: 0;
}
.z-table .caret-wrapper .ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
}
.z-table .caret-wrapper .descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
}
.z-table-border {
  border-bottom: 1px solid #ebeef5;
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
}
.z-table-border td,
.z-table-border th {
  border-right: 1px solid #ebeef5;
}
