* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.z-col {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: blue;
}

.z-row {
  display: block;
}
.z-row .test {
  background-color: red;
}
