* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

.z-flex {
  display: flex;
}

.z-flex-column {
  flex-direction: column;
}

.z-flex-wrap {
  flex-wrap: wrap;
}

.z-justify-between {
  justify-content: space-between;
}

.z-justify-around {
  justify-content: space-around;
}

.z-justify-center {
  justify-content: center;
}

.z-justify-start {
  justify-content: flex-start;
}

.z-justify-end {
  justify-content: flex-end;
}

.z-align-start {
  align-items: flex-start;
}

.z-align-center {
  align-items: center;
}

.z-align-end {
  align-items: flex-end;
}

.z-clearfix::after {
  clear: both;
  content: " ";
  display: block;
}
