// 主题色
$primaryColor: #409eff;
// 成功颜色
$successColor: #67c23a;
// 警告颜色
$warningColor: #e6a23c;
// error颜色
$errorColor: #f56c6c;
// 通知颜色
$infoColor: #909399;

// 主要文字
$mainFontColor: #303133;
// 常规文字
$baseFontColor: #606266;
// 次要文字
$secondaryFontColor: #909399;
// 占位文字
$placeholderFontColor: #c0c4cc;

// 一级边框
$borderColorOne: #dcdfe6;
// 二级边框
$borderColorTwo: #e4e7ed;
// 三级边框
$borderColorThird: #ebeef5;
// 四级边框
$borderColorFourth: #f2f6fc;

// 黑色
$black: #000;
// 白色
$white: #fff;
