@use "./color";
@use "./size";
@use "./global";
.z-table {
  width: 100%;
  color: color.$mainFontColor;
  font-size: size.$fontSize;
  overflow: auto;
  thead {
    display: flex;
    width: 100%;
    color: color.$secondaryFontColor;
    font-weight: 500;
  }
  tbody {
    display: block;
    overflow: auto;
  }
  tr {
    display: flex;
    width: 100%;
    transition: background-color 0.25s ease;
    &:hover {
      background-color: #f5f7fa;
    }
  }
  th,
  td {
    display: inline-block;
    padding: 12px 0;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid color.$borderColorThird;
  }
  .flex-grow {
    flex-grow: 0;
  }
  .flex-1 {
    flex: 1;
  }
  .th-fixed {
    position: fixed;
  }
  td {
    transition: background-color 0.25s ease;
  }
  .cell {
    padding: 10px;
  }
}
.z-table-border {
  border-top: 1px solid color.$borderColorThird;
  border-left: 1px solid color.$borderColorThird;
  border-bottom: 1px solid color.$borderColorThird;
  th,
  td {
    border-right: 1px solid color.$borderColorThird;
  }
}
