@use "./color";
@use "./size";
@use "./global";
.z-table {
  width: 100%;
  color: color.$mainFontColor;
  font-size: size.$fontSize;
  overflow: auto;
  thead {
    display: flex;
    align-self: baseline;
    color: color.$secondaryFontColor;
    font-weight: 500;
    min-width: 100%;
  }
  .z-header-sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }
  tbody {
    align-self: baseline;
    min-width: 100%;
  }
  tr {
    display: flex;
    min-width: 100%;
    align-self: baseline;
    transition: background-color 0.25s ease;
    &:hover {
      background-color: #f5f7fa;
    }
  }
  th,
  td {
    padding: 12px 0;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid color.$borderColorThird;
    transition: background-color 0.25s ease;
  }
  .flex-0 {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .flex-1 {
    flex: 1;
  }
  .z-th-sticky-left {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 10;
  }
  .z-th-sticky-right {
    position: sticky;
    right: 0;
    background-color: #fff;
    z-index: 10;
  }
  .cell {
    padding: 10px;
  }
}
.z-table-border {
  border-top: 1px solid color.$borderColorThird;
  border-left: 1px solid color.$borderColorThird;
  border-bottom: 1px solid color.$borderColorThird;
  th,
  td {
    border-right: 1px solid color.$borderColorThird;
  }
}
