@font-face {
  font-family: "gulu"; /* Project id 1609919 */
  src: url('iconfont.woff2?t=1641449792886') format('woff2'),
       url('iconfont.woff?t=1641449792886') format('woff'),
       url('iconfont.ttf?t=1641449792886') format('truetype');
}

.gulu {
  font-family: "gulu" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gulu-cloud-error:before {
  content: "\e703";
}

.gulu-tipssuccess:before {
  content: "\e637";
}

.gulu-loading-out:before {
  content: "\e664";
}

.gulu-loading1:before {
  content: "\e643";
}

.gulu-guanbi:before {
  content: "\e61f";
}

.gulu-nanzhuang:before {
  content: "\e601";
}

.gulu-wanju:before {
  content: "\e604";
}

.gulu-xiezi:before {
  content: "\e603";
}

.gulu-arrow-right:before {
  content: "\e602";
}

.gulu-yiwancheng:before {
  content: "\e600";
}

.gulu-loading_one:before {
  content: "\e632";
}

.gulu-wancheng:before {
  content: "\e676";
}

.gulu-trues:before {
  content: "\e666";
}

.gulu-complate:before {
  content: "\e844";
}

.gulu-arrowleft:before {
  content: "\e610";
}

.gulu-zujian:before {
  content: "\e693";
}

.gulu-checked:before {
  content: "\e70f";
}

.gulu-close:before {
  content: "\e615";
}

.gulu-img:before {
  content: "\e699";
}

.gulu-code:before {
  content: "\e628";
}

.gulu-love:before {
  content: "\e735";
}

.gulu-share:before {
  content: "\e62c";
}

.gulu-more:before {
  content: "\e608";
}

.gulu-location:before {
  content: "\e611";
}

.gulu-layout:before {
  content: "\e61a";
}

.gulu-home:before {
  content: "\e645";
}

.gulu-info:before {
  content: "\eb37";
}

.gulu-error:before {
  content: "\e6c6";
}

.gulu-loading:before {
  content: "\e607";
}

.gulu-right:before {
  content: "\e636";
}

.gulu-down:before {
  content: "\e635";
}

.gulu-left:before {
  content: "\e60b";
}

.gulu-download:before {
  content: "\e63a";
}

.gulu-thumbs-up:before {
  content: "\e640";
}

.gulu-setting:before {
  content: "\e722";
}

